/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    flex: 1;
    background-color: rgba(30, 30, 30, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Centra todo el contenido de la sección */
}
.ficha {
    margin: 0 auto; /* Centrar el contenedor */
    text-align: center; /* Centrar el texto */
}
/* Lista de canciones */
.canciones {
    margin: 0 auto; /* Centrar el contenedor */
    text-align: center; /* Centrar el texto */
}

.canciones ol {
    display: inline-block; /* Para que la lista numerada también quede centrada */
    text-align: left; /* Para que los números de la lista sigan alineados a la izquierda */
}
body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://discobiografias.wordpress.com/wp-content/uploads/2013/07/lpda2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

/* Navbar Styles */
.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 18px;
}

.navbar ul li a:hover {
    background-color: #333;
    border-radius: 5px;
}

.preview {
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 101;
}

/* Rest of the styles remain the same */
.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px; /* Para añadir espacio alrededor del contenido */
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Sidebar Styles */
.sidebar {
    left: 20px;
    width: 250px;
    height: calc(100vh - 100px); /* Adjusted for margin and navbar */
    background-color: rgba(50, 50, 50, 0.9);
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
/* Sidebar derecho */
.sidebar-right {
    width: 250px;
    background-color: rgba(50, 50, 50, 0.9);
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
}
.sidebar-right h2, .sidebar-right p, .sidebar-right .btn {
    text-align: center;
}
/* Responsive Design */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        padding-left: 0;
    }

    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .content {
        width: 100%;
    }

    .video iframe, .spotify iframe {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
}


/* Formulario de Registro */
.formulario-registro {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(50, 50, 50, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.formulario-registro label {
    margin-bottom: 10px;
    text-align: left;
}

.formulario-registro input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.formulario-registro button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario-registro button:hover {
    background-color: #555;
}

/* Formulario de Login */
.formulario-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(50, 50, 50, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.formulario-login label {
    margin-bottom: 10px;
    text-align: left;
}

.formulario-login input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.formulario-login button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario-login button:hover {
    background-color: #555;
}

/* Estilo para el div de registro */
.registro {
    text-align: center;
    margin-top: 20px;
}

.registro p {
    margin-bottom: 10px;
}

.registro a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.registro a:hover {
    background-color: #555;
}
/* Estilo para el formulario de agregar álbum */
.formulario-album {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(50, 50, 50, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.formulario-album label {
    margin-bottom: 10px;
    text-align: left;
}

.formulario-album input,
.formulario-album textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.formulario-album button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario-album button:hover {
    background-color: #555;
}

/* Estilo para el título */
.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.titulo h2 {
    margin: 0;
}
