/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url(../assets/lpda.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: rgba(50, 50, 50, 0.9);
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ccc;
}

.sidebar img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    margin-bottom: 20px;
}

.sidebar ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #eee;
}

.sidebar .buttons {
    display: flex;
    justify-content: space-between;
}

.sidebar .btn {
    text-decoration: none;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 100px;
}

.sidebar .btn:hover {
    background-color: #0056b3;
}

/* Main Content Styles */
.content {
    flex: 1;
    background-color: rgba(30, 30, 30, 0.9);
    padding: 20px;
    border-radius: 10px;
}

.content h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ccc;
}

.content p,
.content ol {
    font-size: 18px;
    color: #ddd;
}

.content ol {
    list-style: decimal;
    margin-left: 20px;
}

.spotify, .ficha, .canciones, .video {
    margin-bottom: 30px;
}

.video iframe {
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        margin: 10px;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }

    .content {
        width: 100%;
    }

    .video iframe, .spotify iframe {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .content h1 {
        font-size: 24px;
    }

    .content h2 {
        font-size: 20px;
    }

    .content p,
    .content ol {
        font-size: 16px;
    }

    .sidebar ul li {
        font-size: 14px;
    }

    .btn {
        width: 48%;
    }
}

@media (max-width: 480px) {
    .content h1 {
        font-size: 22px;
    }

    .content h2 {
        font-size: 18px;
    }

    .content p,
    .content ol {
        font-size: 14px;
    }

    .sidebar ul li {
        font-size: 12px;
    }

    .btn {
        padding: 8px;
        font-size: 12px;
    }

    .sidebar .btn {
        width: 100%;
    }
}
